*{
    margin: 0;
    padding: 0;
    font-family: 'Geom','sans-serif';
    box-sizing: border-box;
}

body{
    background-color: rgb(251, 221, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;   
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .heading {
    font-size: 1.8vw;
    color: royalblue;
}

.main .features .box {
    height: 5vh;
    width: 20vw;
    margin-top: 1vh;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .features .box:hover {
    border: 1.1px solid royalblue;
}

.main .features .box input {
    border: none;
    background: transparent;
}

input:focus {
    outline-style: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main .features .box input::placeholder {
    color: royalblue;
    text-align: center;
}

.main .features .button {
    display: flex;
    justify-content: center;
}

.main .features .submit {
    height: 5vh;
    width: 12vw;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 30px;
    margin-top: 1vh;
}

.main .features .submit:hover {
    background-color: hotpink;
    color: white;
}

.main .label {
    margin-top: 2vh;
    color: hotpink;
}